{
  "appUrl": "http://feedgrabber.com.localhost:3000/",
  "emailCO": "email",
  "passwordCO": "password",
  "questionnaireTitle": "questionnaire_title"
  "questionnaireTitleEdited": "questionnaire_title_edited"
}